# Visual Studio
.vs/
*.suo
*.user
*.slnx
*.v18/

# Build output
bin/
obj/
*.dll
*.pdb
*.exe

# SQL Database Project
*.dacpac
*.sqlproj.user
*.publish.xml
*.refactorlog

# Logs
*.log

# User-specific config
launchSettings.json

# Optional: local secrets
appsettings.Development.json
